.total{
    background-color: #cdd9f9;
    width: 20%;
    height: 60px;
    margin-left: 10%;
    border-radius: 5px;
    display: inline-block;
    padding-left: 5px;
    box-shadow: 2px 2px 2px 3px rgb(169, 169, 169);
}
.total:hover{
    color: rgb(74, 74, 170);
     padding-top: 5px;
     display: inline;
     transition: .5s;
}

.total > i{
    color: rgb(101, 101, 205);
     padding-top: 5px;
     display: inline;
}
#cadastrar{
    background-color: rgb(62, 216, 62);
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
#cadastrar:hover{
    background-color: rgb(0, 205, 0);
    cursor: pointer;
}