.user-header{
      box-shadow: rgba(196, 196, 197, 0.2) 0px 2px 8px 0px;
      background-color: rgb(105, 157, 197);  
      height: 45px;
}
#user-form{
background-color: rgb(255, 255, 255);
border-radius: 5px;
box-shadow: rgba(99, 99, 99, 0.2) 1px 2px 8px 0px;
padding-bottom: 5px;
}

.user-form-right{
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 395px;
    border-radius: 5px;
}

.user-list{
    background-color: black;
}

.user-total{
    height: 87px;
    background-color: rgb(182, 216, 246);
    border-radius: 5px;
   

}
.user-total-content{
    background-color: aliceblue;
    height: 85px;
    margin-left: 6px;
    border-radius: 5px;
    padding-left:15px ;

}
.user-active{
    background-color: aquamarine;
    border-radius: 5px;
    height: 87px;
}
.user-bloqued{
    background-color: rgb(221, 67, 67);
    border-radius: 5px;
    height: 88px;
}


.user-list{
    background-color: rgb(236, 241, 251);
}